<div class="dashboard-container">
    <div class="dashboard-header">
        <h2>Hey {{ user.profile.display_name|default:user.username }}, here are your sustainability metrics</h2>
    </div>
    <div class="gauge minigame energy" style="--percent: {{ energy_percentile|default:'0' }};">
        <span>Energy<br>{{ energy_percentile|default:"0" }}%</span>
    </div>
    <div class="gauge minigame cycling" style="--percent: {{ cycling_percentile|default:'0' }};">
        <span>Cycling<br>{{ cycling_percentile|default:"0" }}%</span>
    </div>
    <div class="gauge minigame recycling" style="--percent: {{ recycling_percentile|default:'0' }};">
        <span>Recycling<br>{{ recycling_percentile|default:"0" }}%</span>
    </div>
    <div class="gauge minigame quiz" style="--percent: {{ quiz_percentile|default:'0' }};">
        <span>Quiz<br>{{ quiz_percentile|default:"0" }}%</span>
    </div>
    <div class="gauge overall" style="--percent: {{ overall_percentile|default:'0' }};">
        <span>Overall<br>{{ overall_percentile|default:"0" }}%</span>
     </div>
</div>
