{% extends 'base.html' %}
{% load static %}
{% block title %}Leaderboard{% endblock %}

{% block content %}
{% load leaderboard_extras %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'Leaderboard/styles.css' %}">
    <title>Main Leaderboard</title>
    <style>
        table {
            border-collapse: collapse;
            width: 90%;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div class = "box-container">
        <h1>Main Leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Display Name</th>
                    <th>Overall Score</th>
                    {% for game in games %}
                    <th>{{ game }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in leaderboard_data %}
                <tr>
                    <td>{{ row.display_name }}</td>
                    <td>{{ row.overall }}</td>
                    {% for game in games %}
                    <td>{{ row|get_item:game }}</td>
                    {% endfor %}
                </tr>
                {% empty %}
                <tr><td colspan="{{ games|length|add:"2" }}">No scores available</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
